.drawer {
	align-items: stretch;
	
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	transition: flex-basis 0.3s ease;
	z-index: 3;
	&.open {
		flex: 0 0 336px;
	}

	&.closed {
		flex: 0 0 56px;
	}

	@media (max-width: 768px) {
		width: 20px;
		height: 20px;
		
	}
    @media (min-width:768px){
        min-height: calc(100vh - 48px);
        overflow: auto;
    }
}
