.drawer-content{
    z-index: 1;
    position: fixed;
    min-height: calc(100vh - 48px);
    // border-right: 3px solid #000;
    box-shadow: 4px 0px 0px rgba(0, 0, 0, 0.04);
    
      z-index: 1;
     
      left: 56px; 
      width: 280px;
      transition: transform 0.3s ease, opacity 0.3s ease;
      opacity: 1;
      transform: translateX(0);

  
      &.closed {
        opacity: 0;
        transform: translateX(-100%);
        pointer-events: none; 
      }
      
      @media (max-width:768px){
         z-index: 100; 
         left: 0;
         top: 48px;

      }
      
 
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        height: 65px;
        border-bottom: 1px solid var(--border-color);
        @media (max-width:768px){
             background-color: #fff;
             position: relative;
             z-index: 100; 
        }


    }
    &__pin{
        border: 1px solid var(--border-color);
        padding: 6px;
        border-radius: 4px; 
        display: flex;
        align-items: center;
        justify-content: center;
       svg{
        width: 20px;
        height: 20px;
        path{
            fill: var(--main-color);
        }
       }
    }
    &__menu{
        padding: 10px 16px 50px  16px;
        display: flex;
        flex-direction: column;
        background-color: var(--menu-color);
        gap: 20px 0;
        height: 100%;
       margin-bottom: 50px;
        height: calc(100vh - 48px - 65px);
        overflow: auto;
        @media (max-width:768px){
             margin-bottom: 0px; 
             padding: 10px 16px;
        }


            
      &::-webkit-scrollbar {
          display: none;
        }
        -ms-overflow-style: none; 
    scrollbar-width: none;
    }
}