.header{
    padding: 8px 16px;
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    width: 100%;
    background-color: var(--bg-color);
    top: 0;
    left: 0;
    height: 48px;
    
    z-index: 10;
    &__wrapper{
        display: flex;
        gap: 0 8px;
        align-items: center;
        @media (max-width:768px){
             gap: 0 16px; 
        }
    }
    &__logo{
        flex: 1 1 auto;
        @media (max-width:768px){
            display: none; 
       }
    }
    &__drawer{
        flex: 1 1 auto;
        position: relative;
    
        @media (min-width:768px){
             display: none; 
        }
    }
    &__inp{
        @media (max-width:768px){
             display: none; 
        }
    }
  
}