.main-content {
	width: 100%;
    border-left: 1px solid var(--border-color);
	flex: 1 1 100%;
    &__wrapper{
        padding: 0 16px;
        h1{
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 24px;
            @media (max-width:768px){
                 font-size: 20px;
                 line-height: 24px; 
            }
        }
    }
	
}
